<div class="container">
  <div class="row">
     <div class="col-lg-2">
     
      
    </div>
    <div class="col-lg-2">
      <img src="../../../../assests/img/2.png" class="esp-image">
      <br>
      <br>
      <strong>Esp8266 NodeMCU</strong>
      <br>
      <br>
      <button class="btn btn-primary btn-block">Add</button>
    </div>
    <div class="col-lg-1">
     
      
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-1">
      <div class="vl"></div>
    </div>
    
    <div class="col-lg-1">
     
      
    </div>
    <div class="col-lg-2">
      <img src="../../../../assests/img/1.png" class="esp-image">
      <br>
      <br>
      <strong>Esp8266-01</strong>
      <br>
      <br>
      <button class="btn btn-primary btn-block">Add</button>
    </div>
    <div class="col-lg-2">
     
      
    </div>
  </div>
</div>
