html, body { height: 100%; width: 100%; }

.login-screen {
    background-image: url(https://www.squiz.net/__public/Systems/Perspective/FileCache/1-32000/465/prop/header-bg-image.jpg?t=1472431690);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
}

.login-screen:before {
    content: "";
    background: rgba(0,0,0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-center { text-align: left; position: relative; z-index: 1; }
.login { width: 320px; color: #fff; max-width: 100%; }
.login label, .login p { color: #fff; }
.login-form .input-group .form-control {
    background: none;
    height: 44px;
    color: #ddd;
}
.login-form .input-group .input-group-addon { background: none; }
.login-form .input-group .input-group-addon .glyphicon { color: #1b5a7c; }
.login .sign-btn .btn { background: #1b5a7c; border-color: #1b5a7c; }
.min-height { min-height: 380px; }
