<!-- export ASPNETCORE_ENVIRONMENT=Development -->

<div class="container">
  
  <div class="row">
    <div class="col-lg-2">
      <div class="card">
       <a [routerLink]="['/dashboard/new-device']" class="btn btn-info btn-block">
          <span class="glyphicon glyphicon-plus"></span>Add New Device
        </a>
      </div>
    </div>
  </div>
  
  <br>
  <div class="row"  >
    
    <div class="col-lg-3" *ngFor="let item of devices">
      <div class="card">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="../../../assests/img/1.png" *ngIf="item.device_type_id == 1 ? true : false" class="card-image" alt="Avatar">
            <img src="../../../assests/img/2.png" *ngIf="item.device_type_id == 2 ? true : false" class="card-image" alt="Avatar">

          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <a (click)="edit(item.id,item.device_type_id)">
              <span class="glyphicon glyphicon-edit" ></span>Edit
            </a>
            <br>
            <br>
            <a (click)="delete(item.id,item.device_type_id)">
              <span class="glyphicon glyphicon-trash"></span>Delete
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <br>
            <strong>{{item.deviceName}}</strong>
          </div>
        </div>
      </div>
    </div>
    
   
    



  </div>
</div>