<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

			<!-- PRICE ITEM -->
			<div class="panel price panel-white">
				<div class="panel-heading arrow_box text-center">
					<h3>{{subsriptions[0].subscriptionTypeName}}</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$0/Month</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-success"></i> Personal Use</li>
					<li class="list-group-item"><i class="icon-ok text-success"></i> One Device</li>
					<li class="list-group-item"><i class="icon-ok text-success"></i> 500 Api Calls/day</li>
					<li class="list-group-item"><i class="icon-ok text-success"></i> No Card Required</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-default" href="#">GET IT NOW!</a>
				</div>
			</div>
			<!-- /PRICE ITEM -->




		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

			<!-- PRICE ITEM -->
			<div class="panel price panel-blue">
				<div class="panel-heading arrow_box text-center">
					<h3>{{subsriptions[1].subscriptionTypeName}}</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$10/Month</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-info"></i> Team Use</li>
					<li class="list-group-item"><i class="icon-ok text-info"></i> 10 Devices</li>
					<li class="list-group-item"><i class="icon-ok text-info"></i> 10000 Api Calls/Day</li>
					<li class="list-group-item"><i class="icon-ok text-info"></i> 27/7 Support</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
				</div>
			</div>
			<!-- /PRICE ITEM -->


		</div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

			<!-- PRICE ITEM -->
			<div class="panel price panel-green">
				<div class="panel-heading arrow_box text-center">
					<h3>{{subsriptions[2].subscriptionTypeName}}</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$99/month</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-success"></i> Commercial Use</li>
					<li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited Devices</li>
					<li class="list-group-item"><i class="icon-ok text-info"></i> Unlimited Api Calls/Day</li>
					<li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 Support</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>
				</div>
			</div>
			<!-- /PRICE ITEM -->


		</div>


	</div>

</div>