<div class="container">
	<div class="row">
		
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let item of subsriptions">

			<!-- PRICE ITEM -->
			<div class="panel price panel-white" *ngIf="item.id == 1 ? true : false">
				<div class="panel-heading arrow_box text-center">
					<h3>{{item.subscriptionTypeName}}</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>${{item.price/100}}/Month</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-success"></i> Personal Use</li>
					<li class="list-group-item"><i class="icon-ok text-success"></i> {{item.numberOfDevices}} Device</li>
					<li class="list-group-item"><i class="icon-ok text-success"></i> {{item.apiCallsPerDay}} Api Calls/day</li>
					<li class="list-group-item"><i class="icon-ok text-success"></i> No Card Required</li>
				</ul>
				<div class="panel-footer">
					<a class="btn btn-lg btn-block btn-default" data-toggle="modal" data-target="#createSubscriptionModal" (click)="buyButton(item.id)">GET IT NOW!</a>
				</div>
			</div>
			<!-- /PRICE ITEM -->

			<!-- PRICE ITEM -->
			<div class="panel price panel-blue" *ngIf="item.id == 2 ? true : false">
				<div class="panel-heading arrow_box text-center">
					<h3>{{item.subscriptionTypeName}}</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>${{item.price/100}}/Month</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-info"></i> Team Use</li>
					<li class="list-group-item"><i class="icon-ok text-info"></i> {{item.numberOfDevices}} Devices</li>
					<li class="list-group-item"><i class="icon-ok text-info"></i> {{item.apiCallsPerDay}} Api Calls/Day</li>
					<li class="list-group-item"><i class="icon-ok text-info"></i> 27/7 Support</li>
				</ul>
				<div class="panel-footer">
					<button class="btn btn-lg btn-block btn-info" data-toggle="modal" data-target="#createSubscriptionModal" (click)="buyButton(item.id)" disabled>BUY NOW!</button>
				</div>
			</div>
			<!-- /PRICE ITEM -->
			
			<!-- PRICE ITEM -->
			<div class="panel price panel-green" *ngIf="item.id == 3 ? true : false">
				<div class="panel-heading arrow_box text-center">
					<h3>{{item.subscriptionTypeName}}</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>${{item.price/100}}/Month</strong></p>
				</div>
				<ul class="list-group list-group-flush text-center">
					<li class="list-group-item"><i class="icon-ok text-success"></i> Commercial Use</li>
					<li class="list-group-item"><i class="icon-ok text-success"></i> Unlimited Devices</li>
					<li class="list-group-item"><i class="icon-ok text-info"></i> Unlimited Api Calls/Day</li>
					<li class="list-group-item"><i class="icon-ok text-success"></i> 27/7 Support</li>
				</ul>
				<div class="panel-footer">
					<button class="btn btn-lg btn-block btn-success" data-toggle="modal" data-target="#createSubscriptionModal" (click)="buyButton(item.id)" disabled>BUY NOW!</button>
				  
        </div>
			</div>
			<!-- /PRICE ITEM -->


		</div>

		


	</div>

</div>

<!-- Modal -->
<div id="createSubscriptionModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
  
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">New Subscription</h4>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label>Subscription Name:</label>
					<input type="text" class="form-control" [(ngModel)]="subscriptionName" name="subscriptionName">
				</div>
				
				<br>
				<div class="form-group">
					<button class="btn btn-block btn-primary" (click)="createNewSubscription()">Create</button>
				</div>
				<br>
			</form>
		</div>
	  </div>
  
	</div>
  </div>

<div id="snackbar">{{statusMessage}}</div>
<div id="snackbarSuccess">{{statusMessageSuccess}}</div>