<div class="container">
    <div class="row">
            <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subscription Name</th>
                        <th scope="col">Subscription Type</th>
                        <th scope="col">Created Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of subscriptions; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.subscriptionName}}</td>
                        <td>{{getSubscriptionName(item.subscriptionType)}}</td>
                        <td>{{item.createdDate}}</td>
                        <td><button class="btn btn-danger btn-sm" title="delete" (click)="deleteSubscription(item.id)"><span class="glyphicon glyphicon-trash"></span></button></td>
                      </tr>
                      
                    </tbody>
                  </table>
    </div>
</div>
<div id="snackbar">{{statusMessage}}</div>
<div id="snackbarSuccess">{{statusMessageSuccess}}</div>