<a class="btn btn-lg btn-block btn-success" data-toggle="modal" data-target="#createSubscriptionModal" (click)="buyButton()">BUY NOW!</a>
<!-- Modal -->
<div id="createSubscriptionModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
  
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="true">&times;</button>
		  <h4 class="modal-title">New Subscription</h4>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label>Subscription Name:</label>
					<input type="text" class="form-control" [(ngModel)]="subscriptionName" name="subscriptionName">
				</div>
				
				<br>
				<div class="form-group">
					<button class="btn btn-block btn-primary" data-dismiss="modal" (click)="createNewSubscription()">Create</button>
				</div>
				<br>
			</form>
		</div>
	  </div>
  
	</div>
  </div>